{% load static %}
<!DOCTYPE html>
<html lang="en">

<!--

                                      .,.                                        
                               @@(#@    @                                       
                               @    @%/@@                                       
                                        @                                       
                                        @                                       
                                      #,@ @                                     
                                    %,#@@@@ @                                   
                                    %,#,@ @ @                                   
                                    %,#,@ @ @                                   
                                    &,#&@&@ @                                   
                                 #@  @*    @* /@                                
                              @#  @,          @( .@.                            
                       ,###@@##@&####      ,#####@%##@###.                      
     OpenGov Australia*#*@.../(     @@@  *@@/     @....%@/*****************.    
     @,#,,,& %,,,% %,,,% @   *(       @  *(       @    %@*,,,@@*,,,@/(...&,/    
     @,/   % #   # #   # @   *(       @((#(       @    %@.   @@.   @/*   &,/    
     @,/   % #   # #   # @   *(%&&&&&/&&&&&,&&&&&.@    %@.   @@.   @/*   &,/    
     @,/   % #   # #   # @   *(&    @/,   @*(   @.@    %@.   @@.   @/*   &,/    
     @,/   % #   # #   # @   *(&    @/,   @*(   @.@    %@.   @@.   @/*   &,/    
     @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@/

-->

<head>
    {% if title %}
        <title>Legistream - {{ title }}</title>
    {% else %}
        <title>Legistream</title>
    {% endif %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'legistream/css/home.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    {% block headcontent %}
    {% endblock %}
</head>
<body>
    <nav>
        <div class="dropdown">
            <button><a class="dropdown-link" id="home-btn" href="/">Home</a></button>
            <div class="parliament-dropdown">
                <button id="parl-btn">Parliament <img class="dropdown-icn" src="{% static 'legistream/img/dropdown.svg' %}"></button>
                <ul>
                    {% for parliament in dropdown_list %}
                        {% if parliament.radius %}
                            <li style="border-radius: {{ parliament.radius }}"><a class="dropdown-content" href="{{ parliament.url }}">{{ parliament.parl }}</a></li>
                        {% else %}
                            <li><a class="dropdown-content" href="{{ parliament.url }}">{{ parliament.parl }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <!-- button><a class="dropdown-link" href="/info">Info</a></button -->
        </div>
    </nav>
    <script type="text/javascript">
        if(window.location.pathname == '/')
        {
            document.getElementById('home-btn').style.color = '#44DB4E'
        }
        else if(window.location.pathname != '/info')
        {
            document.getElementById('parl-btn').style.color = '#44DB4E'
        }
    </script>
    <div id="opengov-container">
        <a target="_blank" id="OpenGovAus-title" href="https://github.com/OpenGovAus">OpenGov Australia</a>
    </div>
    {% block content %}
    {% endblock content %}
    <div id="lower-bar">
        <a id="gh-hook" target="_blank" href="https://github.com/OpenGovAus/legistream-site" class="main-point"><img class="logo" src="{% static 'legistream/img/gh-logo.png' %}">View code on GitHub</a>
    </div>
</body>
</html>