{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legistream - Home</title>
    <link rel="stylesheet" href="{% static 'legistream/css/home.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>
<body>
    <nav>
        <div id="top-bar">
            <a href="/" class="navbar-content">Home</a>
            <a href="#" class="navbar-content">Parliament</a>
            <a href="/" class="navbar-content">Info</a>
        </div>
        <div id="opengov-container">
            <a target="_blank" href="https://github.com/OpenGovAus" id="OpenGovAus-title">OpenGov Australia</a>
        </div>
    </nav>
    <div id="home-content">
        <a href="/" id="logo-text">LEGISTREAM</a>
        <p id="brand-hook-wink-wink">The <strong>easiest</strong> way to watch Aussie parliaments live.</p>
        <div id="live-parls">
            <p class="main-point" class="main-point">Live now:
            {% for parl in live_parls %}
                <a class="main-point" href="{{ parl.url }}">{{ parl.parl }} </a>
            {% endfor %}</p>
        </div>
    </div>
    <div id="lower-bar">
        <a target="_blank" href="https://github.com/OpenGovAus/legistream-site" class="main-point"><img class="logo" src="{% static 'legistream/img/gh-logo.png' %}">View code on GitHub</a>
    </div>
</body>
</html>