{% extends "legistream/global.html" %}
{% load static %}

{% block content %}
    <div id="home-content">
        <a href="/" id="logo-text">LEGISTREAM</a>
        <p id="brand-hook-wink-wink">The <strong>easiest</strong> way to watch Aussie parliaments live.</p>
        <div id="live-parls">
            {% if live_parls %}
                <p class="main-point">Live now:
                {% for parl in live_parls %}
                    <a class="main-point" href="{{ parl.url }}">{{ parl.parl }} </a>
                {% endfor %}</p>
            {% else %}
                    <p class="main-point">No parliaments are currently live...</p>
            {% endif %}
        </div>
    </div>
{% endblock content %}