{% extends "legistream/global.html" %}
{% load static %}

{% block headcontent %}
    <link rel="stylesheet" href="{% static 'legistream/css/info.css' %}">
    <title>Legistream - Info</title>
    <meta property="og:title" content="Legistream - Info">
{% endblock headcontent %}

{% block content %}
    <style>
        html {
            color: rgb(223,223,223);
            background-image: url("{% static 'legistream/img/bg-info.png' %}");
        }

        h1 {
            font-family: gilroy;
            text-transform: uppercase;
        }
    </style>
    <div>
        <h1>Info</h1>
        <p>Legistream is a modern and simple way to watch Australian parliaments live. It was created with the goal of centralising the parliaments to a single area, without the need to use the often outdated and slow parliament websites. Legistream was developed by and is actively maintained by <strong><a target="_blank" class="opengov-hook" href="https://github.com/OpenGovAus">OpenGov Australia</a></strong>, an independent team of developers based in Australia with the common goal of making it easier for the general public to securely access political information relevant to them over the internet.
            <br>Legistream does this by optimising the parliamentary streaming experience, isolating the streams to one parent website, all natively within the user’s browser. It also bypasses the need to use a Flash player on both the Queensland and Northern Territory streams, offering a more secure experience.
            <br><br><strong><a target="_blank" class="opengov-hook" href="https://github.com/OpenGovAus">OpenGov Australia</a></strong> hopes you find the service useful!
        </p>
    </div>
{% endblock content %}