{% extends "legistream/global.html" %}
{% load static %}

{% block headcontent %}
    <link rel="stylesheet" href="{% static 'legistream/css/stream_page.css' %}">
    <link href="https://vjs.zencdn.net/7.2.3/video-js.css" rel="stylesheet">
{% endblock headcontent %}

{% block content %}
    <style>
        html {
            {% if title == 'NT Parliament' %}
                background-image: url('{% static 'legistream/img/bg-ntparl.png' %}');
            {% endif %}
            {% if title == 'QLD Parliament' %}
                background-image: url('{% static 'legistream/img/bg-qldparl.png' %}');
            {% endif %}
            {% if title == 'ACT Parliament' %}
                background-image: url('{% static 'legistream/img/bg-actparl.png' %}');
            {% endif %}
            {% if title == 'NSW Parliament' %}
                background-image: url('{% static 'legistream/img/bg-nswparl.png' %}');
            {% endif %}
            {% if title == 'WA Parliament' %}
                background-image: url('{% static 'legistream/img/bg-waparl.png' %}');
            {% endif %}
            {% if title == 'Federal Parliament' %}
                background-image: url('{% static 'legistream/img/bg-fedparl.png' %}');
            {% endif %}
            {% if title == 'demoparl' %}
                background-image: url('{% static 'legistream/img/bg-demoparl.png' %}');
            {%endif%}
        }
    </style>
    <script src="https://vjs.zencdn.net/ie8/ie8-version/videojs-ie8.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/videojs-contrib-hls/5.14.1/videojs-contrib-hls.js"></script>
    <script src="https://vjs.zencdn.net/7.2.3/video.js"></script>
    <div class="title-container">
        <h1 id="logo-text">{{ parl }} Parliament</h1>
    </div>
    <div id="streams-block">
        {% if stream_urls %}
            {% for stream in stream_urls %}
                <div class="stream-container">
                    <div class="video-container">
                        {% if stream_amount < 3 %}
                            <video id='{{ stream.safe }}'  class="stream-thumb video-js vjs-default-skin" width="600" height="338" controls>
                                <source src="{{ stream.url }}" type="application/x-mpegURL">
                            </video>
                        {% else %}
                            <video id='{{ stream.safe }}'  class="stream-thumb video-js vjs-default-skin" width="400" height="225" controls>
                                <source src="{{ stream.url }}" type="application/x-mpegURL">
                            </video>
                        {% endif %}
                        <script>
                            var from_backend = "{{ stream.safe }}";
                            var player = videojs(from_backend);
                            player.play();
                        </script>
                    </div>
                    <p class="stream-label">Stream: <strong>{{ stream.title }}</strong></p>
                </div>
            {% endfor %}
        {% else %}
                <p class="stream-label">This parliament is not currently broadcasting.</p>
        {% endif %}
    </div>
    {% if title == 'demoparl' %}
        <p id="youcrazypeople" class="main-point">Hey. I don't know how you got here (unless you cheated by looking at the GitHub code).<br>This is a test page which uses ACT VOD streams to simulate live streams.</p>
    {% endif %}
{% endblock content %}