#home-info {
    position: absolute;
    top: calc(100% - 10px);
    z-index: -1;
}

#info-block {
    width: 48%;
}

#info-block h1, #info-block h2 {
    font-family: gilroy;
}

#info-block h1 {
    font-size: 300%;
}

#info-block h2 {
    font-size: 200%;
    margin-top: 20px;
}

#info-block p {
    font-family: pn-light;
    font-size: 150%;
}

#info-block a {
    color: rgb(68, 219, 78);
}

#info-block a:hover {
    color: rgb(49, 161, 57);
}

.dark-div {
    display: flex;
    background-color: rgb(16,16,16);
    width: 100%;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
}

#grn-break {
    width: 100%;
    height: 10px;
    background-color: rgb(68, 219, 78);
    margin-bottom: 50px;
}

#grn-break:hover {
    cursor: pointer;
}
