@font-face {
    font-family: 'gilroy';
    src: url('../fonts/Gilroy-ExtraBold.otf');
}

@font-face {
    font-family: 'dosis';
    src: url('../fonts/dosis.ttf');
}

html {
    background-image: url('../img/bg-fedparl.png');
    background-repeat: no-repeat;
    background-size:cover;
    color: white;
}

a {
    text-decoration: none;
}

#home-content {
    text-align: center;
    margin-top: 120pt;
}

#logo-text {
    font-family: gilroy;
    font-size: 88px;
    color: rgb(223, 223, 223);
}

.navbar-content {
    padding-right: 25pt;
    font-family: dosis;
    font-size: 25pt;
    color: rgb(223, 223, 223);
}

#opengov-container {
    position: absolute;
    right: 25pt;
    top: 19px;
}

#OpenGovAus-title {
    position: relative;
    color: rgb(68, 219, 78);
    font-size: 25pt;
    font-family: gilroy;
}

.navbar-content:hover {
    color: rgb(68, 219, 78);
}

#OpenGovAus-title:hover {
    color: rgb(49, 161, 57);
}

#top-bar {
    padding-left: 20px;
    padding-top: 10px;
}

.main-point {
    font-family: dosis;
    font-size: 25px;
    color: rgb(223, 223, 223);
    position: relative;
}

.logo {
    height: 25px;
    padding-right: 7px;
}

#lower-bar {
    position: absolute;
    bottom: 15px;
    left: 20px;
}

.header {
    font-family: dosis;
    font-size: 35px;
    color: rgb(223, 223, 223);
    position: relative;
}

#live-parls {
    text-align: center;
}

#brand-hook-wink-wink {
    color: rgb(223, 223, 223);
    font-family: dosis;
    font-weight: normal;
    font-size: 40pt;
}

strong {
    color: rgb(68, 219, 78);
}

.dropdown-list {
    display: inline-block;
    position: relative;
}

.dropdown-item {
    display: none;
    position: absolute;
    background-color: teal;
}

.dropdown-item a {
    color: white;
    display: block;
}