h1 {
    padding: 10px;
    text-align: center;
    font-size: 50pt;
}

p {
    font-size: 20pt;
    font-family: dosis;
    text-decoration: none;
    padding: 30px;
}

.opengov-hook {
    text-decoration: none;
    text-emphasis: none;
    color: rgb(68, 219, 78);
}

.opengov-hook:hover {
    color: rgb(49, 161, 57);
}