.title-container {
    text-align: center;
}
#logo-text {
    font-size: 35pt;
    text-transform: uppercase;
    margin-top: 30pt;
}

.stream-container {
    justify-content: center;
    align-items: center;
    align-content: center;
}

.stream-thumb:hover {
    transform: scale(1.05);
}

.video-container {
    padding: 30px;
}

.stream-thumb {
    display: block;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

.social {
    font-family: dosis;
    font-size: 30pt;
    float: right;
}

.stream-label {
    text-align: center;
    font-family: dosis;   
    font-size: 15pt;
    color: rgb(223,223,223);
}