@font-face {
    font-family: 'gilroy';
    src: url('../fonts/Gilroy-ExtraBold.otf');
}

@font-face {
    font-family: 'dosis';
    src: url('../fonts/dosis.ttf');
}

* {
    padding: 0px;
    margin: 0px;
}

.stream-thumb {
    width: 720px;
    padding: 10px;
    padding-bottom: 25px;
}

.heading {
    font-family: gilroy;
    text-transform: uppercase;
    text-align: center;
}

.stream-title {
    font-weight: bold;
}

div {
    padding: 10px;
    padding-bottom: 0px;
}

.id-hook {
    padding: 10px;
    font-size: x-large;
    color: orange;
}

body {
    color: white;
}

.btn {
    color: black;
    background-color: white;
}