@font-face {
    font-family: 'gilroy';
    src: url('../fonts/Gilroy-ExtraBold.otf');
}

@font-face {
    font-family: 'dosis';
    src: url('../fonts/dosis.ttf');
}

.dropdown-link {
    font-family: dosis;
    font-size: 50pt;
    margin-top: 60pt;
    position: absolute;
}

html {
    padding: 30pt;
}

body {
    background-color: rgb(rgb(19, 19, 19), green, blue);
}

.main-point {
    font-size: 30pt;
    padding: 10px;
}

.main-point a:hover {
    color: rgb(68, 219, 78);
}

h1 {
    display: flex;
}

.highlight {
    color: rgb(68, 219, 78);
    padding-left: 30px;
}

#content {
    align-content: center;
    text-align: center;
    justify-content: center;
    display: block;
    margin-top: 80pt;
}