{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="Mate, there's nothing here.">
    <link rel="stylesheet" href="{% static 'legistream/css/home.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static '404.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Where's Legistream?</title>
</head>
<body>
    <style>
        html {
            background-image: url("{% static 'legistream/img/bg-demoparl.webp' %}");
        }
    </style>
    <h1 id="logo-text">ERROR <p class="highlight">404</p></h1>
    <div id="content">
        <h3 class="main-point">Page not found...</h3>
        <p class="main-point">If you got here by clicking on a link within Legistream, please let us know by <strong><a class="main-point" target="_blank" href="https://github.com/OpenGovAus/legistream-site/issues/new/choose">opening an Issue on GitHub</a></strong>.</p>
    </div>
    <a class="dropdown-link" href="/">Home</a>
</body>
</html>